<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">

        <!-- Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter line-height--6 font-size--xs color--primary fixed top--0 left--0 mt2 ml2"></div>

                <button class="pswp__button pswp__button--close fixed top--0 right--0 mt2 mr2 btn btn--plain hv--shop-accent color--primary pointer" title="Close (Esc)">{% include 'svg-icon', icon: 'close', class: 'zoom--close' %}</button>

                <div class="pswp__preloader absolute top--0 left--0 ml2">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <button class="pswp__button pswp__button--arrow--left fixed left--0 lg--ml3 dt--ml3 md-dn--ml2 lg--top--half dt--top--half md-dn--bottom--0 md-dn--mb3 btn btn--plain hv--shop-accent color--primary" title="Previous (arrow left)">{% include 'svg-icon', icon: 'chevron-left', class: 'zoom--left' %}
            </button>

            <button class="pswp__button pswp__button--arrow--right fixed right--0 lg--mr3 dt--mr3 md-dn--mr2 lg--top--half dt--top--half md-dn--bottom--0 md-dn--mb3 btn btn--plain hv--shop-accent color--primary" title="Next (arrow right)">{% include 'svg-icon', icon: 'chevron-right', class: 'zoom--right' %}
            </button>

        </div>

    </div>

</div>